@charset "UTF-8";
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}



/* all */
	@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
	html, body{letter-spacing:-1px; word-break:keep-all; width:100%; text-align:left; background:#e8edf1; font-size:15px; color:#222; line-height:1.5; margin:0; padding:0; font-family:'MalgunGothic','Malgun Gothic','¸¼Àº°íµñ','¸¼Àº °íµñ','³ª´®°íµñ','NanumGothic','Noto Sans KR','Helvetica','Tahoma','sans-serif','Arial','Dotum','µ¸À½','DotumChe','µ¸À½Ã¼';}
	body{font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-font-smoothing: unset; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; backface-visibility: hidden;}
	h1{font-size:18px; padding:0; margin:0; display:inline-block; font-weight:normal; letter-spacing:-1px;}
	h1 a{text-decoration:none; color:#fff;}
	a, a:link, a:focus, textarea, button, input, select{outline:none; resize:none; border:0px; text-decoration:none;}
	img{border:0; vertical-align:middle;}
	table, td{border-spacing:0px; padding:0px; height:100%;}
	ul, li{list-style:none; padding:0px; margin:0px;}
	.fa, .fas{margin-right:5px; vertical-align:baseline;}
	.wrap{width:100%;}
	.red{color:#ff3b3b;}
	.bold{font-weight:bold;}
	.pc{display:block; margin:0 auto;}
	.m{display:none; margin:0 auto;}


/* head */
	.head_wrap{background:#4a566c; color:#fff;}
		.head{padding:10px;}

/* cont */

	.cont_wrap{padding:10px;}
		.cont{background:#fff; padding:10px; border:1px solid #c5cace;}
			.cont textarea{width:100%; height:70vh;}
