#quizzie {

}
#quizzie ul {
  list-style: none;
  display: block;
  width: auto;
  margin: 2% 2%;
  overflow: auto;
  display: none;
  /* Step Questions and Answer Options */
}
#quizzie ul.current {
  display: block;
  overflow:hidden;
  padding-bottom: 25px;
}
#quizzie ul li {
  display: inline-block;
  float: left;
  width: 47%;
  margin-right:1%;
  text-align: center;
}
#quizzie ul li.quiz-answer { position: relative; cursor: pointer; }

#quizzie ul li.question, #quizzie ul li.results-inner {
  display: block;
  float: none;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 2%;
}
#quizzie ul li:last-child {
  margin-right: 0;
}

#quizzie ul li.line {width:10px; height:120px; background:#e3e3e3; border-radius:25px; margin-top:7%;}

#quizzie .question-wrap { margin-bottom:30px; }
#quizzie .question-wrap, #quizzie .answer-wrap {  display: block; }
#quizzie .answer-wrap {
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
#quizzie .answer-wrap:hover img {
  filter:brightness(150%);
}

#quizzie #results h1 {height:auto;}
#quizzie #results h1 img {width:100%;}
#quizzie #results p {margin: 0px 0 3px;}
#quizzie #results p.desc input {width:90%; height:50px; background:#f2f2f2; border:0; font-size:18px; text-align:center;}
#quizzie #results p.tel-1 input {width:90%; height:50px; background:#f2f2f2; border:0; font-size:18px; margin-top:10px; text-align:center;}
#quizzie #results p.check_01 label {font-family: 'GmarketSansMedium'; margin:2px 0px; color:#fff;}
#quizzie #results p.quiz_com_btn {margin-top:20px;}
#quizzie #results p.quiz_com_btn img {width:80%;}

#Imz section.nth5 #quizzie h1 { padding:30px 0 65px;}
.select_displaynone2 {display:none;}


/*mobile responsive web*/

@media (max-width:500px) {
	#quizzie #results p.check_01 label {font-size:13px; letter-spacing:-1px;}
}
@media (max-width:400px) {


}